n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2560,
        0
      ],
      "id": "09696f56-404a-412f-8bb8-cbacc3c218aa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://[YOUR_PIHOLE_IP]/api/queries",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ Math.floor(Date.now() / 1000) - 300 }}"
            },
            {
              "name": "limit",
              "value": "2000"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2352,
        0
      ],
      "id": "7dde5485-cadf-4482-a4fe-3f808b41e1a8",
      "name": "Get Pi-hole Logs"
    },
    {
      "parameters": {
        "fieldToSplitOut": "queries",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2160,
        0
      ],
      "id": "0a94c093-cac6-4164-8e74-779c205ac766",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const domains = $input.all().map(i => i.json.domain).filter(d => d);\nconst unique = [...new Set(domains)];\n\nreturn unique\n  .map(d => d.toLowerCase().trim())\n  .filter(d => d !== \"unknown\" && d !== \"\" && !d.includes('.arpa'))\n  .map(d => ({ json: { domain: d } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1952,
        0
      ],
      "id": "a7236842-2a7f-4ba3-ab03-7894a513a363",
      "name": "Filter Unique & Clean"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://[YOUR_INFLUXDB_IP]:8086/api/v2/query?org=[YOUR_ORG_NAME]",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/vnd.flux",
        "body": "=from(bucket: \"[YOUR_BUCKET_NAME]\") |> range(start: -30d)\n|> filter(fn: (r) => r._measurement == \"domain_threats\" and r.domain == \"{{ $json.domain }}\") \n|> last()",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1744,
        0
      ],
      "id": "9c63e0d0-4bd8-45b7-8fcb-ae5e4c7aa707",
      "name": "Check Influx Cache",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data }}",
              "rightValue": "_result",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "id": "fcae7354-758f-4190-b353-7b09fec4e18f"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1536,
        0
      ],
      "id": "1472217c-27dc-47ae-a7c9-f1d9229ac370",
      "name": "Is Cached?"
    },
    {
      "parameters": {
        "url": "=https://otx.alienvault.com/api/v1/indicators/domain/{{ $('Filter Unique & Clean').item.json.domain }}/general",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-OTX-API-KEY",
              "value": "[YOUR_ALIENVAULT_API_KEY]"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1312,
        128
      ],
      "id": "916fa6c6-e9ac-4dfe-8dcc-b39d89efb349",
      "name": "AlienVault Scan",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://www.virustotal.com/api/v3/domains/{{ $('Filter Unique & Clean').item.json.domain }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apikey",
              "value": "[YOUR_VIRUSTOTAL_API_KEY]"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 16000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -896,
        0
      ],
      "id": "0dded50f-30db-4f03-8999-01d9f86efb31",
      "name": "VirusTotal Scan",
      "typeVersion": 4.3,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://[YOUR_PIHOLE_IP]/api/domains/deny/exact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Pihole-Authentication",
              "value": "[YOUR_PIHOLE_AUTH_TOKEN]"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Pihole-Sudo",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"domain\": \"{{ $json.data.id }}\",\n  \"groups\": [0],\n  \"comment\": \"n8n Security\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -480,
        -48
      ],
      "id": "05e8cb1c-0bda-467a-9876-285403e85a90",
      "name": "Block Domain",
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const data = item.json;\n  const domain = data.domain || data.data?.id || data.indicator || \"unknown\";\n  const vt = data.data?.attributes?.last_analysis_stats?.malicious || 0;\n  const avItems = $(\"AlienVault Scan\").all();\n  let pulses = 0;\n  const avMatch = avItems.find(i => (i.json.indicator === domain || i.json.domain === domain));\n  if (avMatch && avMatch.json.pulse_info) {\n    pulses = avMatch.json.pulse_info.count || 0;\n  }\n  const blocked = (vt >= 5);\n  return {\n    json: {\n      domain: domain,\n      pulses: pulses,\n      vt_detections: vt,\n      blocked: blocked\n    }\n  };\n}).filter(i => i.json.domain !== \"unknown\");"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        192
      ],
      "id": "a964e42d-03f1-496f-ac00-85401e89abd0",
      "name": "Prepare Influx Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://[YOUR_INFLUXDB_IP]:8086/api/v2/write?org=[YOUR_ORG_NAME]&bucket=[YOUR_BUCKET_NAME]&precision=ms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "body": "=domain_threats,domain={{ $json.domain.replace(' ', '') }} pulses={{ $json.pulses || 0 }}i,vt_detections={{ $json.vt_detections || 0 }}i,blocked={{ $json.blocked ? 'true' : 'false' }} {{ Date.now() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -64,
        192
      ],
      "id": "0230252b-540f-4ad0-910d-e7b656ccb717",
      "name": "Push to InfluxDB"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d86f9337-6184-4946-bf43-27655a428852",
              "leftValue": "={{ $json.pulse_info?.count || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        128
      ],
      "id": "18dce603-4811-4dce-96e2-b8223b53c5db",
      "name": "Has Pulse?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1baba349-cb97-4282-bca2-e4846deca8c1",
              "leftValue": "={{ $json.data?.attributes?.last_analysis_stats?.malicious || 0 }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        0
      ],
      "id": "2ae4ae40-cd05-4d38-acbe-947b73c80040",
      "name": "If"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -464,
        192
      ],
      "id": "0604b0cf-2261-40c1-bb60-1b489044b65b",
      "name": "Merge"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pi-hole Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pi-hole Logs": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter Unique & Clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unique & Clean": {
      "main": [
        [
          {
            "node": "Check Influx Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Influx Cache": {
      "main": [
        [
          {
            "node": "Is Cached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Cached?": {
      "main": [
        [],
        [
          {
            "node": "AlienVault Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AlienVault Scan": {
      "main": [
        [
          {
            "node": "Has Pulse?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal Scan": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Influx Data": {
      "main": [
        [
          {
            "node": "Push to InfluxDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pulse?": {
      "main": [
        [
          {
            "node": "VirusTotal Scan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Block Domain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare Influx Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
